body {
    background-color: rgb(24, 40, 38);
    background-size: cover;
}

/* Level Counter */
p#level-counter {
    position: absolute;
    top: 0;
    left: 10px;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    font-family: fantasy;
    font-size: 24px;
    color: white;
}

/*CSS for Game title on top*/
.title {
    text-align: center;
    position: relative;
    font-family: fantasy;
    top: 0;
    margin: 0;
    font-size: 24px;
    color: white;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
}

/* Health bar */
.health-bar {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 30px;
    padding: 5px;
    border: 2px solid black;
    margin: 20px 0;
}

.health {
    width: 100%;
    height: 100%;
    background-color: green;
}

/* Popups */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    width: 800px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
}

.button {
    width: 200px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 32px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

a.button {
    text-decoration: none;
}

.end-popup {
    display: none;
}


/*CSS for game container*/
.game-container {
    width: 80%;
    height: 80%;
    border: 3px solid black;
    margin: 0 auto;
    position: absolute;
    background: url(./images/background-4.jpg);
    background-size: cover;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*CSS for the typing box where the user will type in */
#typingbox {
    font-family: fantasy;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: translate(-5%, -50%);
    width: 250px;
    height: 50px;
    text-align: center;
    padding: 0;
}

#resumeButton {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #006400;
    border: none;
    border-radius: 8px;
}

.pause-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.pause-message {
    color: white;
    font-size: 4rem;
    text-align: center;
}

.bug {
    position: absolute;
    width: 150px;
    height: 80px;
    background-image: url("./images/bug.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    text-align: center;
    line-height: 1px;
    font-size: 22px;
    font-family: fantasy;
    border-radius: 5px;
}

.tree {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}