body {
    background-color: rgb(24, 40, 38);
    background-size: cover;
}

/*CSS for Game title on top*/
.title {
    text-align: center;
    position: relative;
    font-family: fantasy;
    top: 0;
    margin: 0;
    font-size: 24px;
    color: white;
}

/*CSS for game container*/
.game-container {
    width: 1100px;
    height: 555px;
    border: 3px solid black;
    margin: 0 auto;
    position: absolute;
    background: url(../images/background-4.jpg);
    background-size: cover;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*CSS for the typing box where the user will type in */
#typingbox {
    font-family: fantasy;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: translate(-5%, -50%);
    width: 250px;
    height: 50px;
    text-align: center;
    padding: 0;
}

.bug {
    position: absolute;
    width: 150px;
    height: 80px;
    background-image: url(../images/bug.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    line-height: 1px;
    font-size: 18px;
    border-radius: 5px;
}

#pauseButton {
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%); 
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #006400;
    border: none;
    border-radius: 8px;
}

#resumeButton {
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%); 
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #006400;
    border: none;
    border-radius: 8px;
}

.pause-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.pause-message {
    color: white;
    font-size: 4rem;
    text-align: center;
}